{% assign headers = include.html | split: '<h' %}

<ul class="{{ include.class }}">
{% for header in headers %}
  {% if header contains '</h' %}
    {% assign level = header | slice: 0 %}
    {% assign parts = header | split: '>' %}
    {% assign id_part = parts[0] | split: 'id="' %}
    
    {% if id_part.size > 1 %}
      {% assign id = id_part[1] | split: '"' | first %}
      {% assign title = parts[1] | split: '</h' | first | strip_html %}

      <li>
        <a href="#{{ id }}">{{ title }}</a>
      </li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
